<meta charset="UTF-8"/>
<div id="a">
	<div class="data_list">
		<div class="data_list_title">
		<img src="/static/images/about_icon.png" />关于本站</div>
		<div class="datas" style="padding-top: 20px;padding-left: 10px;">
			<p style="text-indent:2em;">交大传习电影网，中国高品质视频娱乐服务提供者。2010年4月22日正式上线，秉承“悦享品质”的品牌口号，积极推动产品、技术、内容、营销等全方位创新，为用户提供丰富、高清、流畅的专业视频体验，致力于让人们平等、便捷地获得更多、更好的视频。目前，交大传习电影网已成功构建了包含电商、游戏、电影票等业务在内、连接人与服务的视频商业生态，引领视频网站商业模式的多元化发展。</p>


			<p style="text-indent:2em;">交大传习电影网品质、青春、时尚的品牌调性深入人心，网罗了全球广大的年轻用户群体。交大传习电影网打造涵盖电影、电视剧、综艺、动漫在内的十余种类型的丰富的正版视频内容库，并通过“交大传习电影网出品”战略的持续推动，让“纯网内容”进入真正意义上的全类别、高品质时代。同时，作为拥有海量付费用户的视频网站，交大传习电影网倡导“轻奢新主义”的VIP会员理念，主张人们对高品质生活细节的追求，坚持为广大VIP会员提供专属的海量精品内容，极致的视听体验，以及独有的线下会员服务。</p>


			<p style="text-indent:2em;">2014年，交大传习电影网在全球范围内建立起基于搜索和视频数据理解人类行为的视频大脑——交大传习电影网大脑，用大数据指导内容的制作、生产、运营、消费。并通过强大的云计算能力、带宽储备以及全球性的视频分发网络，为用户提供更好的视频服务。在技术与内容双核驱动的新体验营销时代，交大传习电影网创造性地提出了“iJOY悦享营销”客户服务价值观和方法论。通过多屏触点、创意内容、技术优化、互动参与、实现购买等路径全面提升ROI，让客户享受到创新营销带来的成功与快乐。</p>


			<p style="text-indent:2em;">未来，交大传习电影网将在多元化的内容储备、个性化的产品体验、定制化营销服务领域继续发力，引领视频体验革命。不断提升连接人与服务的能力，更好的改变人们的生活。。</p><p style="padding-bottom: 10px;"><b>品牌口号</b></p><p style="text-indent:2em;">悦享品质</p>

			<p style="padding-bottom: 10px;"><b>品牌关键词</b></p><p style="text-indent:2em;">品质 青春 时尚</p>

			<p style="padding-bottom: 10px;"><b>VIP会员理念</b></p><p style="text-indent:2em;">轻奢新主义——2015年6月16日 在“付费的力量”交大传习电影网VIP会员战略发布会上，交大传习电影网“轻奢新主义”会员品牌口号正式发布。“轻奢新主义”是交大传习电影网“悦享品质”品牌口号的延展。 我们推崇精致而实用的生活态度，倡导格调与乐趣的双重质感。轻奢“与财富多寡、地位高低”无关，代表着对高品质生活细节的追求。</p>

			<p style="padding-bottom: 10px;"><b>企业愿景</b></p><p style="text-indent:2em;">做一家以科技创新为驱动的伟大娱乐公司</p>

			<p style="padding-bottom: 10px;"><b>企业文化</b></p><p style="text-indent:2em;">简单想 简单做</p>

		</div>
	</div>
</div>

